In [1]:
import pandas as pd
Ship =pd.read_csv("D:/Assignment(3)/Ship.csv")
Ship.head()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# All anseras are here ,
# yes there is a coloration and it is + 
# the best model was the MLP classfirer 
# the results are in each section 
# how to increas effetioncy , add more layers,

In [2]:
Ship.info()
Ship.isnull().sum()
#

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Gender       891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

PassengerId      0
Survived         0
Pclass           0
Name             0
Gender           0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
Ship=Ship.drop("Name",axis=1)
Ship=Ship.drop("Ticket",axis=1)
Ship=Ship.drop("Embarked",axis=1)
Ship=Ship.drop("Cabin",axis=1)
Ship=Ship.drop("Age",axis=1)
Ship.info()
Ship.isnull().sum()
# ازاله الاعمده الي ملهاش تاثير او صعب تحويلها الي فيم سهل التعامل معها

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Gender       891 non-null    object
 4   SibSp        891 non-null    int64
 5   Parch        891 non-null    int64
 6   Fare         891 non-null    float64
dtypes: float64(1), int64(5), object(1)
memory usage: 48.9+ KB

PassengerId    0
Survived       0
Pclass         0
Gender         0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [4]:
gender = {'male': 1,'female': 2} 
Ship.Gender = [gender[item] for item in Ship.Gender]
Ship.info()
# تحويل العمر الي قيمه سهل التعامل معاها

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Gender       891 non-null    int64
 4   SibSp        891 non-null    int64
 5   Parch        891 non-null    int64
 6   Fare         891 non-null    float64
dtypes: float64(1), int64(6)
memory usage: 48.9 KB

In [5]:
corMax =Ship.corr()
print(corMax)
# Is there any relationship between gender and survival? yes
# and is it positive

             PassengerId  Survived    Pclass    Gender     SibSp     Parch  \
PassengerId     1.000000 -0.005007 -0.035144 -0.042939 -0.057527 -0.001652
Survived       -0.005007  1.000000 -0.338481  0.543351 -0.035322  0.081629
Pclass         -0.035144 -0.338481  1.000000 -0.131900  0.083081  0.018443
Gender         -0.042939  0.543351 -0.131900  1.000000  0.114631  0.245489
SibSp          -0.057527 -0.035322  0.083081  0.114631  1.000000  0.414838
Parch          -0.001652  0.081629  0.018443  0.245489  0.414838  1.000000
Fare            0.012658  0.257307 -0.549500  0.182333  0.159651  0.216225

                 Fare
PassengerId  0.012658
Survived     0.257307
Pclass      -0.549500
Gender       0.182333
SibSp        0.159651
Parch        0.216225
Fare         1.000000

In [6]:
SurvLabels=Ship["Survived"]
SurV=Ship.drop("Survived",axis=1)
# تقسيم الداتا استعدادا

In [7]:
from sklearn.model_selection import train_test_split
trainingSet,testSet=train_test_split(SurV,test_size=0.2)
trainingLabels,testLabels=train_test_split(SurvLabels,test_size=0.2)
print(len(trainingLabels),len(testLabels),len(Ship))
# تقيسمها الي 
# 2 sets

712 179 891

In [8]:
from sklearn.linear_model import LinearRegression

lin_reg=LinearRegression()
lin_reg.fit(trainingSet,trainingLabels)
Surv_predictions_linerReg = lin_reg.predict(testSet)

# leaner regretion

In [9]:
from sklearn.metrics import mean_absolute_error
Surv_predictions = mean_absolute_error(testLabels, Surv_predictions_linerReg)
Surv_predictions
#MAE for liner reg

0.4854254574477291

In [10]:
from sklearn.linear_model import Perceptron
model = Perceptron(max_iter=1000)
type(trainingSet)
model.fit(trainingSet , trainingLabels)
y_pred = model.predict(testSet)

# singee preceptron

In [11]:
from sklearn.metrics import accuracy_score
accuracy_score(testLabels , y_pred)
# single preceptron accuracy

0.547486033519553

In [12]:
from sklearn.metrics import mean_absolute_error
Surv_predictions = mean_absolute_error(testLabels, y_pred)
Surv_predictions
#MAE for single preceptron accuracy

0.45251396648044695

In [13]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(hidden_layer_sizes=(15,))
clf.fit(trainingSet, trainingLabels)
y_pred2 = clf.predict(testSet)

#MLP classifier

In [14]:
from sklearn.metrics import accuracy_score
accuracy_score(testLabels , y_pred2)
#MLP classifier   accuracy

0.547486033519553

In [15]:
from sklearn.metrics import mean_absolute_error
Surv_predictions = mean_absolute_error(testLabels, y_pred2)
Surv_predictions
#MAE for single MLP classifier

0.45251396648044695